/* components/TodoStyle.css */
body {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-item {
    background: linear-gradient(135deg, #ff8a65, #ffd54f);
    padding: 40px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  
  input,
  textarea,
  button {
    margin: 20px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  button {
    background-color: #64b5f6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #2196f3;
    transform: scale(1.05);
  }
  

  
  /* Unique styling for input and textarea */
  input:focus,
  textarea:focus {
    outline: none;
    background-color: #ffe082;
  }
  
  /* Unique styling for button */
  button:focus {
    outline: none;
  }
  
  /* Animation for "Created by Aman Verma" */
  .created-by {
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  